@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ol>
            <li style="width: 290px;">
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <ul style="margin: 0; padding: 0; align-content:center;">
                    <li style="width:290px; padding:0;">
                        <input style="width:300px; padding: 0; border: 0;" type="submit" value="Wyloguj się" />
                    </li>
                </ul>
            </li>
            <li id="cartButton">@Html.ActionLink("Koszyk", "Index", "Orders")</li>
        </ol>
    }
}
else
{
    <ol>
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li id="cartButton">@Html.ActionLink("Koszyk", "Index", "Orders")</li>
    </ol>
}