@model AutomotiveShop.service.ViewModels.Categories.CategoryDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdministrator = User.IsInRole("Administrator");
}


<h2>@Model.CategoryName</h2>
<table class="categoryTable">
    @foreach (var subcategory in Model.Subcategories)
    {
        <tr>
            <td onclick="location.href='../../Subcategories/Details/?subcategoryId=@subcategory.SubcategoryId'" class="subcategoryInCategory">
                @subcategory.SubcategoryName
            </td>
        </tr>
    }
</table>
<div>&nbsp;</div>


<p>
    @if (isAdministrator)
    {
        @Html.ActionLink("Utwórz podkategorię", "Create", "Subcategories", new { categoryId = Model.CategoryId }, new { @class = "btn btn-primary btn-xs" })
        @Html.Raw(" | ")
        @Html.ActionLink("Edytuj", "Edit", new { categoryId = Model.CategoryId }, new { @class = "btn btn-primary btn-xs" })
        @Html.Raw(" | ")
    }

    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-primary btn-xs" })
</p>
