@model AutomotiveShop.model.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdministrator = User.IsInRole("Administrator");
}


<h2>@Model.Name</h2>

<ul>
    @foreach (var subcategory in Model.Subcategories)
    {
        <li>
            @Html.ActionLink(@subcategory.Name, "Details", "Subcategories", new { subcategoryId = subcategory.SubcategoryId }, null)
            <ul>
                @foreach (var product in subcategory.Products)
                {
                    <li>@Html.ActionLink(@product.Name, "Details", "Products", new { productId = product.ProductId }, null)</li>
                }
            </ul>
        </li>
    }
</ul>

<p>
    @if (isAdministrator)
    {
        @Html.ActionLink("Create subcategory", "Create", "Subcategories", new { categoryId = Model.CategoryId }, null)
        @Html.Raw(" |")
    }

    @Html.ActionLink("Edit", "Edit", new { categoryId = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
