@model IEnumerable<AutomotiveShop.model.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista kategorii</h2>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Utwórz", "Create", null, new { @class = "btn btn-primary btn-xs" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { categoryId = item.CategoryId }, new { @class = "btn btn-primary btn-xs" })

                @if (User.IsInRole("Administrator"))
                {

                    @Html.Raw(" | ")
                    @Html.ActionLink("Edytuj", "Edit", new { categoryId = item.CategoryId }, new { @class = "btn btn-primary btn-xs" })
                    @Html.Raw(" | ")
                    @Html.ActionLink("Usuń", "Delete", new { categoryId = item.CategoryId }, new { @class = "btn btn-primary btn-xs" })
                }
            </td>
        </tr>
    }
</table>
