@model List<AutomotiveShop.model.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">
    <ul>
        @foreach (var category in Model)
        {
            <li>
                @Html.ActionLink(@category.Name, "Details", "Categories", new { categoryId = category.CategoryId }, null)
                <ul>
                    @foreach (var subcategory in category.Subcategories)
                    {
                        <li>
                            @Html.ActionLink(@subcategory.Name, "Details", "Subcategories", new { subcategoryId = subcategory.SubcategoryId}, null)
                            <ul>
                                @foreach (var product in subcategory.Products)
                                {
                                    if (product.ItemsAvailable > 0)
                                    {
                                        <li style="color:white">@Html.ActionLink(@product.Name, "Details", "Products", new { productId = product.ProductId }, null)</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink(@product.Name, "Details", "Products", new { productId = product.ProductId }, null)</li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
