@model AutomotiveShop.service.ViewModels.Users.IndexViewModel
@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>
            Your orders:
        </dt>
        @if(Model.Orders.Count == 0)
        {
            <dd>
                You don't have any orders
            </dd>
        }
        @foreach (var order in Model.Orders)
        {
            <dd>
                @Html.ActionLink(order.OrderNumber, "Details", "Orders", new { orderId = order.OrderId }, null)
                (@Html.Raw(order.RelativeTime))
            </dd>
        }
        <dt>
            Your addresses:
        </dt>
        @if (Model.Orders.Count == 0)
        {
            <dd>
                You don't have any addresses
            </dd>
        }
        @foreach (var address in Model.DeliveryAddresses)
        {
            <dd>
                @Html.Raw(address.StreetName)
            </dd>
            <dd>
                @Html.Raw(address.Postcode)
            </dd>
            <dd>
                @Html.Raw(address.City)
            </dd>
            <dd>
                @Html.Raw(" ")
            </dd>
        }
    </dl>
</div>