@model AutomotiveShop.service.ViewModels.Users.IndexViewModel
@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Twoje zamówienia:
        </dt>
        @if (Model.Orders.Count == 0)
        {
            <dd>
                Nie masz żadnych zamówień
            </dd>
            <dd>
                @Html.ActionLink("Zrób zakupy aby uzupełnić tę sekcję!", "Index", "Home", null, new { @class = "btn btn-primary btn-xs" })
            </dd>
        }
        @foreach (var order in Model.Orders)
        {
            <dd>
                @switch (order.OrderState)
                {
                    case AutomotiveShop.model.OrderState.New:
                        @Html.ActionLink(order.OrderNumber, "Details", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-default" })
                        break;
                    case AutomotiveShop.model.OrderState.Paid:
                        @Html.ActionLink(order.OrderNumber, "Details", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-default orderPaid" })
                        break;
                    case AutomotiveShop.model.OrderState.Sent:
                        @Html.ActionLink(order.OrderNumber, "Details", "Orders", new { orderId = order.OrderId }, null)
                        break;
                    case AutomotiveShop.model.OrderState.Completed:
                        @Html.ActionLink(order.OrderNumber, "Details", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-default orderCompleted" })
                        break;
                    case AutomotiveShop.model.OrderState.Cancelled:
                        @Html.ActionLink(order.OrderNumber, "Details", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-default orderCancelled" })
                        break;
                }


                (@Html.Raw(order.RelativeTime))
            </dd>
        }
        <dt></dt><dd>&nbsp;</dd>
        <dt>
            Twoje adresy:
        </dt>
        @if (Model.DeliveryAddresses.Count == 0)
        {
            <dd>
                Nie dodałeś żadnych adresów
            </dd>
        }
        @foreach (var address in Model.DeliveryAddresses)
        {
            if (!address.CompanyName.IsEmpty())
            {
                <dd>@address.CompanyName</dd>
            }
            if (!address.Name.IsEmpty())
            {
                <dd>@address.Name</dd>
            }

            if (!address.StreetName.IsEmpty())
            {
                <dd>@address.StreetName</dd>
            }

            if (!address.City.IsEmpty())
            {
                <dd>@address.City</dd>
            }

            if (!address.PhoneNumber.IsEmpty())
            {
                <dd>@address.PhoneNumber</dd>
            }

            if (!address.AdditionalInfo.IsEmpty())
            {
                <dd>@address.AdditionalInfo</dd>
            }
            <dd>&nbsp;</dd>
        }
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword", null, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
    </dl>
</div>