@model AutomotiveShop.service.ViewModels.Users.IndexViewModel
@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>
            Your orders:
        </dt>
        @foreach (var order in Model.Orders)
        {
            <dd>
                @Html.ActionLink(order.DateOfPurchase.Year.ToString() + "-" + order.DateOfPurchase.Month.ToString() + "-" + order.DateOfPurchase.Day.ToString() + "-" + order.DateOfPurchase.Hour.ToString("00") + "-" + order.DateOfPurchase.Minute.ToString("00") + "-" + order.DateOfPurchase.Second.ToString("00") + "-" + order.DateOfPurchase.Millisecond.ToString("000"), "Details", "Orders", new { orderId = order.OrderId }, null)
            </dd>
        }
    </dl>
</div>
