@model AutomotiveShop.service.ViewModels.Orders.AddressesToChooseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChosenParcelLocker", "Orders", FormMethod.Post))
{
    for (int i = 0; i < Model.ParcelLockers.Count; i++)
    {
        @Html.HiddenFor(model => Model.ParcelLockers[i].City)
        @Html.HiddenFor(model => Model.ParcelLockers[i].Postcode)
        @Html.HiddenFor(model => Model.ParcelLockers[i].Street)
        @Html.HiddenFor(model => Model.ParcelLockers[i].Displayed)
    }
    <div>
        @Html.DropDownListFor(model => model.SelectedParcel, new SelectList(Model.ParcelLockers, "Displayed", "Displayed"), "Wybierz paczkomat", new { @class = "center-block" })

    </div>
    <div class="row-fluid span12">
        <button class="btn btn-inverse" type="submit" title="Search for Account"><span class="fa fa-search">Wybierz ten paczkomat</span></button>
    </div>
}

<div class="text-center">
    <h1>Wybierz adres dostawy</h1>
    @foreach (var address in Model.Addresses)
    {
        <a href=@Url.Action("Create", "Orders", new { deliveryAddressId = address.DeliveryAddressId })>
            <button class="addressButton" class="btn btn-default center-block">
                @if (!address.CompanyName.IsEmpty())
                {
                    <div>@address.CompanyName</div>
                }
                @if (!address.Name.IsEmpty())
                {
                    <div>@address.Name</div>
                }
                @if (!address.Surname.IsEmpty())
                {
                    <div>@address.Surname</div>
                }
                @if (!address.StreetName.IsEmpty())
                {
                    <div>@address.StreetName</div>
                }
                @if (!address.Postcode.IsEmpty())
                {
                    <div>@address.Postcode</div>
                }
                @if (!address.City.IsEmpty())
                {
                    <div>@address.City</div>
                }
                @if (!address.PhoneNumber.IsEmpty())
                {
                    <div>@address.PhoneNumber</div>
                }
                @if (!address.AdditionalInfo.IsEmpty())
                {
                    <div>@address.AdditionalInfo</div>
                }
            </button>
        </a>
        <div class="newline">
            &nbsp;
        </div>
    }



    <button class="addressButton" type="button" class="btn center-block">@Html.ActionLink("Dodaj nowy", "CreateDeliveryAddress")</button>
</div>
@*@foreach(var address in Model)
     {
         @Html.ActionLink(address, "Index", "Home", new { @class = "btn btn-default", @id="address" })
     <div class="newline">&nbsp;</div>
    }*@
