@model AutomotiveShop.service.ViewModels.Orders.OrderDetailsViewModel
<h1>@Model.DisplayedDateOfPurchase</h1>

<table>
    @foreach (var item in Model.Items)
    {
        <tr id="cart-row-@item.Product.ProductId">
            <td>
                @item.Product.Name
            </td>
            <td>
                |   @item.Quantity item(s) |
            </td>
            <td>
                @item.Value PLN (@item.Product.Price PLN each)
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td class="summary">
            Total: @Model.Price PLN
        </td>
    </tr>
</table>

<table>
    <tr>Delivery address:</tr>
    @if (!Model.DeliveryAddress.CompanyName.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.CompanyName</dd>
    }
    @if (!Model.DeliveryAddress.Name.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.Name</dd>
    }

    @if (!Model.DeliveryAddress.Surname.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.Surname</dd>
    }

    @if (!Model.DeliveryAddress.StreetName.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.StreetName</dd>
    }

    @if (!Model.DeliveryAddress.Postcode.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.Postcode</dd>
    }

    @if (!Model.DeliveryAddress.City.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.City</dd>
    }

    @if (!Model.DeliveryAddress.PhoneNumber.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.PhoneNumber</dd>
    }

    @if (!Model.DeliveryAddress.AdditionalInfo.IsEmpty())
    {
        <dd>@Model.DeliveryAddress.AdditionalInfo</dd>
    }


</table>

<h2>Status: @Model.OrderState</h2>
@if (!Model.NextAction.IsEmpty() && Model.OrderState != AutomotiveShop.model.OrderState.Completed)
{
    @Html.ActionLink(Model.NextAction, "ProcessOrder", "Orders", new { orderId = Model.OrderId, orderState = Model.OrderState, toCancellation = false }, new { @class = "btn btn-primary" })
    <div></div>
}

@if (Model.OrderState != AutomotiveShop.model.OrderState.Cancelled)
{
    @Html.ActionLink("Cancel order", "ProcessOrder", "Orders", new { orderId = Model.OrderId, orderState = Model.OrderState, toCancellation = true }, new { @class = "btn btn-default btn-xs" })
}
