@model AutomotiveShop.service.ViewModels.Orders.OrderDetailsViewModel
<h1>@Model.DateOfPurchase.Day.ToString()-@Model.DateOfPurchase.Month.ToString()-@Model.DateOfPurchase.Year.ToString() @Model.DateOfPurchase.TimeOfDay.Hours.ToString():@Model.DateOfPurchase.TimeOfDay.Minutes.ToString()</h1>

<table>
    @foreach (var item in Model.Items)
            {
        <tr id="cart-row-@item.Product.ProductId">
            <td>
                @item.Product.Name
            </td>
            <td>
                |   @item.Quantity item(s) |
            </td>
            <td>
                @item.Value PLN (@item.Product.Price PLN each)
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td class="summary">
            Total: @Model.Price PLN
        </td>
    </tr>
</table>

<h2>Status: @Model.OrderState</h2>
@if (!Model.NextAction.IsEmpty() && Model.OrderState != AutomotiveShop.model.OrderState.Completed)
{
    @Html.ActionLink(Model.NextAction, "ProcessOrder", "Orders", new { orderId = Model.OrderId, orderState = Model.OrderState, toCancellation = false }, null)
    <div></div>
}
@if (Model.OrderState != AutomotiveShop.model.OrderState.Cancelled)
{
    @Html.ActionLink("Cancel order", "ProcessOrder", "Orders", new { orderId = Model.OrderId, orderState = Model.OrderState, toCancellation = true }, null)
}
