@model AutomotiveShop.service.ViewModels.Orders.CartViewModel
@using AutomotiveShop.model.Infrastructure

@{
    ViewBag.Title = "Details";
}

<h2>Your cart</h2>

<div>
    @if (Model.Items.Count > 0)
    {
        <table>
            @foreach (var item in Model.Items)
            {
                <tr id="cart-row-@item.Product.ProductId">
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        |   @item.Quantity item(s) |
                    </td>
                    <td>
                        @item.Value PLN (@item.Product.Price PLN each)
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>
                    Total: @Model.Price PLN
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.ActionLink("Buy", "Create", "Orders")
                </td>
            </tr>
        </table>
    }
    else
    {
        @Html.Raw("Add something first")
    }

</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
