@model AutomotiveShop.service.ViewModels.Orders.CartViewModel
@using AutomotiveShop.model.Infrastructure

@{
    ViewBag.Title = "Details";
}

<h2>Twój koszyk</h2>

<div>
    @if (Model.Items.Count > 0)
    {
        <table>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="itemInCart">
                        @Html.ActionLink(item.Product.Name, "Details", "Products", new {productId = item.Product.ProductId}, null)
                    </td>
                    <td>
                        @Html.Raw(" | " + item.Quantity + " przedmioty(ów) | ")
                    </td>
                    <td>
                        @Html.Raw(item.Value + "zł (" + item.Product.Price + "zł za sztukę)")
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td class="summary">
                    @Html.Raw("Łącznie: " + @Model.Price + "zł")
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.ActionLink("Do kasy", "ChooseDeliveryAddress", "Orders", null, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        </table>
    }
    else
    {
        @Html.Raw("Koszyk jest pusty")
        <div>
            &nbsp;
        </div>
    }

</div>
<p>
    @if (Model.Items.Count > 0)
    {
        @Html.ActionLink("Wyczyść koszyk", "EmptyCart", null, new { @class = "btn btn-primary btn-xs" }) 
        @Html.Raw(" | ")
    }
    @Html.ActionLink("Powrót do listy", "Index", "Home", null, new { @class = "btn btn-primary btn-xs" })
</p>
