@model AutomotiveShop.service.ViewModels.Orders.CartViewModel
@using AutomotiveShop.model.Infrastructure

@{
    ViewBag.Title = "Details";
}

<h2>Your cart</h2>

<div>
    @if (Model.Items.Count > 0)
    {
        <table>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="itemInCart">
                        @Html.ActionLink(item.Product.Name, "Details", "Products", new {productId = item.Product.ProductId}, null)
                    </td>
                    <td>
                        |   @item.Quantity item(s) |
                    </td>
                    <td>
                        @item.Value PLN (@item.Product.Price PLN each)
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td class="summary">
                    Total: @Model.Price PLN
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.ActionLink("Buy", "ChooseDeliveryAddress", "Orders", null, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        </table>
    }
    else
    {
        @Html.Raw("Cart is empty")
        <div>
            &nbsp;
        </div>
    }

</div>
<p>
    @if (Model.Items.Count > 0)
    {
        @Html.ActionLink("Empty cart", "EmptyCart", null, new { @class = "btn btn-primary btn-xs" }) 
        @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to list", "Index", "Home", null, new { @class = "btn btn-primary btn-xs" })
</p>
