@model AutomotiveShop.model.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory.Category.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.Raw("Bought by")
        </dt>

        <dd>
            @Model.Copies.Count()
            @Html.Raw(" user(s)")
        </dd>
        <dt>
            @Html.Raw("Availability")
        </dt>

        <dd>
            @(Model.ItemsAvailable > 0 ? Html.Raw("In stock (" + @Model.ItemsAvailable + " items available)") : Html.Raw("Unavailable"))
        </dd>
    </dl>
</div>
<p>
    @(Model.ItemsAvailable > 0 ? Html.ActionLink("Buy", "Buy", "Products", new {productId = Model.ProductId}, null) : Html.Raw("Item unavailable")) |
    @Html.ActionLink("Edit", "Edit", new {productId = Model.ProductId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
